/*COLORS*/
body {
    background-color: #211938;
}

.outer-shell_white {
    background-color: #F6F5F3;
}

.pre-check {
    background-color: #7E75B7;
    color: #F6F5F3;
}

.io {
    color: #7E75B7;
}

.short-exp {
    color: #76358D;
}

.top-header {
    color: #F6F5F3;
    letter-spacing: 5px;
    text-shadow: 3px 3px 20px #ca7e8d, -2px 1px 30px #ca7e8d;
}

/*LAYOUT*/
.pre-check {
    border: none;
}

.pre-check {
    border-radius: 15px 15px;
    width: fit-content;
    margin-top: -10%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.outer-shell_white {
    border-radius: 15px 15px;
    width: fit-content;
    padding: 2%;
    margin-top: 10%;
}

/*FONTS*/
body {
    font-family: 'Merienda One', cursive;
}

/*BUTTON*/
.start-reading {
    background-color: #76358D;
    color: #F6F5F3;
}