/*COLORS*/
body {
    background-color: #211938;
}

.outer-shell_white {
    background-color: #F6F5F3;
}

.pre-check {
    background-color: #7E75B7;
    color: #F6F5F3;
}

.io {
    color: #7E75B7;
}

.short-exp {
    color: #76358D;
}

.top-header {
    color: #F6F5F3;
    text-shadow: 3px 3px 20px #ca7e8d, -2px 1px 30px #ca7e8d;
}

.cards {
    color: #F6F5F3;
}

.intent {
    color: #a120cf;
}

.tarotcard {
    background-color: #76358D;
}

.cardname {
    color: #211938;
}

.warning {
    color: rgb(233, 0, 0);
}

.pre-check {
    box-shadow: rgba(0, 0, 0, 0.712) 0px 5px 15px;
}

.tarotcard {
    box-shadow: rgba(0, 0, 0, 0.788) 0px 5px 15px;
}

/*BUTTON*/
.start-reading {
    background-color: #76358D;
    color: #F6F5F3;

}

/*LAYOUT*/

.intent {
    font-weight: bolder;
    text-transform: capitalize;
    width: 35%;
}

.top-header {
    letter-spacing: 5px;
}


.pre-check {
    border-radius: 15px 15px;
    width: fit-content;
    margin-top: -10%;
    border: none;
}

.outer-shell_white {
    border-radius: 15px 15px;
    width: fit-content;
    padding: 2%;
    margin-top: 10%;
}

.cards {
    display: flex;
    padding: 3%;

}

.tarotcard {
    margin: 2%;
    border-radius: 15px;
    padding: 1%;
}

.cardname {
    text-align: center;
    margin-bottom: 7%;
}

.cardmean {
    text-align: center;
    margin-bottom: 7%;
}

.cardkey {
    text-align: center;
    margin-bottom: 8%;
}



/*FONTS*/
body {
    font-family: 'Merienda One', cursive;
}



/*MEDIA QUERIES*/

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    .cards {
        display: flex;
        flex-direction: column;
    }

    .tarotcard {
        display: flex;
        flex-direction: column;
        padding: 4%;
    }

    .cardimg {
        align-items: center;
    }

}


/*!emojicursor.app*/
.magic-cursor {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='27' height='32' viewport='0 0 100 100' style='fill:black;font-size:16px;'><text y='50%'>✨</text></svg>") 16 0, auto;
}